{% extends "product/base.html" %}

{% load humanize %}
<!-- 보기편한 필터를 설정할수있음 -->

{% block headers %}
<script>
  function product_detail(id){
    $.ajax({
    url: "/api/products/"+ id ,
    success: function( result ) {
        $("#product-"+id).popover({
          html:true,
          content:result.name + "<br/>" + result.price
        }).popover('show');
      }
    });
  }
  function product_leave(id){
    $("#product-"+id).popover("hide");
  }


  $(document).ready(function (){
    $.ajax({
    url: "/api/products/",
    success: function( result ) {
      $( "#weather-temp" ).html( "<strong>" + result + "</strong> degrees" );
      console.log(result);
      }
    });
  });

</script>

{% endblock %}

{% block contents %}

<div class="container">
    
    <div class="row mt-5">
      <div class="col-12 text-center">
        <a href="{% url 'index' %}">home</a>
        <h1>상품목록</h1>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12">
        <table class="table table-light">
          <thead class="thead-light">
            <tr>
              <th scope="col" >등록번호</th>
              <th scope="col" >상품명</th>
              <th scope="col" >가격</th>
              <th scope="col" >수량</th>
              <th scope="col" >등록날짜</th>
            </tr>
          </thead>
          <tbody class="text-dark">
            {% for product in products %}
            <tr>
              <th scope="row">{{ product.id }}</th>
              <th ><a id="product-{{ product.id }}" onmouseleave="product_leave({{ product.id }});"  onmouseenter="product_detail({{ product.id }});" href="{% url 'shopping:detail' product.id  %}">{{ product.name }}</a></th>
              <th >{{ product.price|intcomma }} 원</th>
              <!-- humanize의 필터를 사용했음 -->
              <th >{{ product.stock|intcomma }}</th>
              <th >{{ product.time|date:'Y-m-d H:i' }}</th>
              <!-- django 내장 템플릿 태그 및 필터 사용  -->
            </tr>
            {% endfor %}
          </tbody>

        </table>





      </div>
    </div>
    
  </div>
  


{% endblock %}