{% extends "board/base.html" %}

{% load static %}

{% block contents %}
  <div class="container">

    <div class="row mt-5">
      <div class="col-12 text-center">
        <a href="{% url 'index' %}">home</a>
        <h1>글쓰기</h1>
      </div>

    <div class="row mt-5">
      <div class="col-12">
        
        <form method="post" action=".">
          <!-- action에.만 써도 되는게 현재주소로 전송하기에(생략도 가능) -->
          {% csrf_token %}
          {% for field in form %}

          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            
            {% if  field.name 'contents' %}
            <textarea class="form-control" placeholder="{{ field.id_for_label }}" name="{{ field.name }}" id="{{ field.id_for_label }}"></textarea>
            {% else %}
            <input type="{{ field.field.widget.input_type }}" class="form-control" name="{{ field.name }}" id="{{ field.id_for_label }}"placeholder="{{ field.label }}">
            {% endif %}
            
          </div>

          {% if field.errors %}
          <span>{{ field.errors }}</span>
          {% endif %}

          {% endfor %}
          <button class="btn btn-primary mt-4" type="submit">글쓰기</button>
          <a href="{% url 'board:index' %}" class="btn btn-primary mt-4">돌아가기</a>
        </form>

      </div>
    </div>
   
  </div>
{% endblock %}