{% extends "board/base.html" %}

{% load static %}

{% block contents %}
  <div class="container">

    <div class="row mt-5">
      <div class="col-12 text-center">
        <a href="{% url 'index' %}">home</a>
        <h1>{{details.id}} 번째 글</h1>
      </div>


    <div class="row mt-5">
      <div class="col-12">
        


          <div class="form-group">
            
            <label for="title">제목</label>
            <input readonly type="text" class="form-control" value="{{ details.title }}" id="title">
            
            <label for="contents">내용</label>
            <textarea class="form-control" id="contents" readonly>{{ details.contents }}</textarea>

            <label for="tags">태그</label>
            <span id="tags" class="form-control">
              {% if details.tags.all %}
              {{ details.tags.all|join:", " }}
              {% else %}
              등록된 태그가 없습니다.
              {% endif %}
            </span>
            
          </div>



          <a href="{% url 'board:index' %}" class="btn btn-primary mt-2">돌아가기</a>


      </div>
    </div>
   
  </div>
{% endblock %}