{% extends "userconfig/base.html" %}

{% load static %}

{% block contents %}
  <div class="container">
    
    <div class="row mt-5">
      <div class="col-12 text-center">
        <h1>로그인</h1>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12">
        {{ error }}
        <form method="post" action=".">
          <!-- action에.만 써도 되는게 현재주소로 전송하기에(생략도 가능) -->
          {% csrf_token %}
          {{ form }}
          <button type="submit" class="btn btn-primary">로그인</button>
        </form>

      </div>
    </div>

  </div>
</body>
{% endblock %}