{% extends "userconfig/base.html" %}
{% load static %}
{% block contents %}
  <div class="container">
    
    <div class="row mt-5">
      <div class="col-12 text-center">
        <h1>회원가입</h1>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12">
        {{ error }}
        <form method="post" action=".">
          <!-- action에.만 써도 되는게 현재주소로 전송하기에(생략도 가능) -->
          {% csrf_token %}
          <div class="form-group">
            <label for="namefield">user_name</label>
            <input type="text" class="form-control" name="username" id="namefield"placeholder="아무것도 없을때 표시할값">
          </div>

          <div class="form-group">
            <label for="eamilfield">user_email</label>
            <input type="email" class="form-control" name="useremail" id="eamilfield"placeholder="아무것도 없을때 표시할값">
          </div>

          <div class="form-group">
            <label for="passwordfield">password</label>
            <input type="password" class="form-control" name="password" id="passwordfield" placeholder="Password">
            
          </div>
          <div class="form-group">
            <label for="repasswordfield">password check</label>
            <input type="password" class="form-control"name="repassword" id="repasswordfield" placeholder="Password">
          </div>

          <button type="submit" class="btn btn-primary">등록</button>
        </form>

      </div>
    </div>

  </div>
{% endblock %}