{% extends "userconfig/base.html" %}
{% load static %}
{% block contents %}
  <div class="container">
    
    <div class="row mt-5">
      <div class="col-12 text-center">
        <a href="{% url 'index' %}">home</a>
        <h1>회원가입</h1>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12">
        {{ error }}
        <form method="post" action=".">
          <!-- action에.만 써도 되는게 현재주소로 전송하기에(생략도 가능) -->
          {% csrf_token %}
          <div class="form-group">
            <label for="namefield">사용할 이름</label>
            <input type="text" class="form-control" name="username" id="namefield"placeholder="사용할 이름">
          </div>

          <div class="form-group">
            <label for="eamilfield">이메일</label>
            <input type="email" class="form-control" name="useremail" id="eamilfield"placeholder="abc@naver.com">
          </div>

          <div class="form-group">
            <label for="passwordfield">비밀번호</label>
            <input type="password" class="form-control" name="password" id="passwordfield" placeholder="사용할 비밀번호">
            
          </div>
          <div class="form-group">
            <label for="repasswordfield">비밀번호 확인</label>
            <input type="password" class="form-control"name="repassword" id="repasswordfield" placeholder="비밀번호 확인">
          </div>

          <button type="submit" class="btn btn-primary mt-3">회원 가입 완료</button>
          <a href="{% url 'user:login' %}" class="btn btn-primary mt-3">로그인 이동</a>
        </form>

      </div>
    </div>

  </div>
{% endblock %}